doctype html
html
	head
	title Blog
	body
		a(href='/') Home
		br
		a(class='button' href='/profile') Profile
		br
		a(class='button' href='/myblog') Your Bloggie
		br
		a(href='/logout') Log out
		h3 All Blogs
		each post in posts.reverse()
			p <b>#{post.title}</b> <i>by: #{post.user.username}</i>
			p #{post.body}
			p #{post.createdAt}
			hr(size='1', width='20%', align='left')
			each comment in post.comments
				p <i>#{comment.userId} says</i> #{comment.comment}
			form(action='/blog', method='post', autocomplete='off')
				input(type='text', name='comment', placeholder='Comment')
				input(type='hidden', value=post.id, name='postId')
				button(type='submit', value='Comment') Comment			
			hr(size='1')






