doctype html
html
	head
		title Bloggie
	body
		a(href='/') Home
		br
		a(href='/blog') Bloggie
		br
		a(href='/logout') Log out
		h1 Welcome to your profile <u>#{user.username}</u>!
		p <b>Name:</b> #{user.first} #{user.last}
		p <b>Email:</b> #{user.email}
		p <b>Username:</b> #{username}

		p Start blogging
		form(action='/profile', method='post', autocomplete='off')
			input(type='text', name='title', placeholder='Title')
			br
			textarea(type='text', name='body', style='width: 350px;height: 150px', placeholder='What would you like to share today?')
			br
			button(type='submit', value='Submit Message') Submit Your Blog

		h3 All your blogs
			p #{title}
			p #{body}

			



